.root {
  @apply transition-colors ease-in-out duration-500
  relative z-20 pr-4 pl-0 pt-4;
}

.root .name {
  @apply pt-0 max-w-full w-full leading-extra-loose;
  font-size: 1rem;
  letter-spacing: 0.4px;
  line-height: normal;
  min-height: 70px;
}

.root .name span {
  @apply py-0 px-0 bg-primary text-primary font-normal;
  font-size: inherit;
  letter-spacing: inherit;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.root .name span.fontsizing {
  display: flex;
  padding-top: 1.5rem;
}

.root .price {
  @apply pt-0 px-0 pb-0 text-sm bg-primary text-accent-8
  font-bold inline-block tracking-wide;
}
