.root {
  @apply relative max-h-full w-full box-border overflow-hidden
  bg-no-repeat bg-center bg-cover transition-transform
  ease-linear cursor-pointer inline-block;
  height: 100% !important;
}

.root:hover {
  & .productImage {
    transform: scale(1.1);
  }

  & .header .name span,
  & .header .price,
  & .wishlistButton {
    @apply text-hover;
  }

  &:nth-child(6n + 1) .header .name span,
  &:nth-child(6n + 1) .header .price,
  &:nth-child(6n + 1) .wishlistButton {
    @apply text-hover;
  }

  &:nth-child(6n + 5) .header .name span,
  &:nth-child(6n + 5) .header .price,
  &:nth-child(6n + 5) .wishlistButton {
    @apply text-hover;
  }

  &:nth-child(6n + 3) .header .name span,
  &:nth-child(6n + 3) .header .price,
  &:nth-child(6n + 3) .wishlistButton {
    @apply text-hover;
  }

  &:nth-child(6n + 6) .header .name span,
  &:nth-child(6n + 6) .header .price,
  &:nth-child(6n + 6) .wishlistButton {
    @apply bg-cyan text-white;
  }
}

.header {
  @apply transition-colors ease-in-out duration-500
  relative top-auto left-0 z-20 pr-0 right-0 mt-4;
}

.header .name {
  @apply pt-0
  transition-colors ease-in-out duration-500;
  font-size: 1rem;
  letter-spacing: 0.4px;
}

.header .name span {
  @apply py-0 px-0 bg-primary text-primary font-normal
  transition-colors ease-in-out duration-500;
  font-size: 1rem;
  letter-spacing: 0.4px;
  line-height: 1rem;
}

.header .price {
  @apply pt-2 px-0 pb-0 text-sm bg-primary text-accent-8
  font-semibold inline-block tracking-wide
  transition-colors ease-in-out duration-500;
}

.imageContainer {
  @apply flex items-center justify-center overflow-hidden;
}

.imageContainer > div {
  min-width: 100%;
}

.imageContainer .productImage {
  @apply transform transition-transform duration-500
  object-cover scale-100;
}

.root .wishlistButton {
  @apply top-0 right-0 z-0 absolute p-0;
}

/* Variant Simple */
.simple .header .name {
  @apply pt-0 text-sm mt-0;
  line-height: 1.4rem;
}

.simple .header .price {
  @apply pt-2 px-0 pb-0 text-sm bg-primary text-accent-8
  font-semibold inline-block tracking-wide
  transition-colors ease-in-out duration-500;
}
 
/* Variant Slim */
.slim {
  @apply bg-transparent relative overflow-hidden
  box-border;
}

.slim .header {
  @apply relative flex items-center justify-end mr-0 pr-0 z-20 bottom-0 top-auto;
  max-width: 320px;
} 

.slim span {
  @apply bg-transparent text-accent-0 inline-block p-3 text-center
  font-normal break-words;
   font-size: 1rem;
}

.root:global(.secondary) .header span {
  @apply bg-transparent text-accent-9;
  font-size: 1rem;
}
